<template name="fileView">
  <h3>
    {{getFolderName}}
    {{#if isAdmin}}
    <i class="icon-remove-sign" style="float: right; cursor:pointer;" id="removeFolder">
    </i>
    {{/if}}
  </h3>
  <div style="height: 300px; overflow: auto;">
    {{#unless hasNothing}}
    <table class="table table-striped">
      {{#if hasFiles}}
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Size
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each filesWithId}}
        <tr class="fileViewRow" fileId={{_id}} draggable="true">
          <td>
            {{_id}}
          </td>
          <td>
            {{baseName}}
          </td>
          <td>
            {{size}}
          </td>
        </tr>
        {{/each}}
      </tbody>
      {{/if}} {{#if hasFolders}}
      <thead>
        <tr>
          <th>
            Folder ID
          </th>
          <th>
            Folder Name
            <th>
        </tr>
      </thead>
      <tbody>
        {{#each foldersWithParent}}
        <tr class="folderViewRow" folderId={{_id}} draggable="false">
          <td>
            {{_id}}
          </td>
          <td>
            {{name}}
          </td>
        </tr>
        {{/each}}
      </tbody>
      {{/if}}
    </table>
    {{/unless}} {{#if hasNothing}}
    <h5>
      There's nothing here.
    </h5>
    {{/if}}
  </div>
</template>
