<!-- WebGL stuff -->
<template name="webgl">
  <div class="webglstuff">
    {{> webglControls}}
    {{> webglCanvas}}
  </div>
</template>

<template name="webglControls">
  <div class="controls">
    {{#if shouldShowSlider}} {{#isolate}} {{annotationNote}}
      <p>
      Current Frame: {{currentFrameIndex}}, Range: {{minFrame}} - {{maxFrame}}
      <span style="margin: 0 1em">
      <input type="button" id="frameprev_button" value="-">
      <input type="button" id="framenext_button" value="+">
      <input type="button" id="frameanim_button">
      </span>
      <span id="loader" class="loaded" style="margin: 0 1em"></span>
      <br />
      <div id="sliderAndProgress">
      <input type="range" id="imageSlider" min="{{minFrame}}" max="{{maxFrame}}" step="1" />
      {{#constant}}<div class="loadingRow"></div>{{/constant}}
      </div>
      </p>
      {{/isolate}}
      <script src="https://github.com/flot/flot/raw/master/jquery.flot.js"></script>
      <div id="plot-outer" style="width: 96%; display: none; padding: 2%">
        <div id="plot-inner" style="height: 40px"></div>
      </div>
    {{/if}}
    <div id="sliders" class="span5"> {{#if isAdmin}}
      <button type="button" class="btn" style="float: right" id="setDefaults">Set Default Gain and Gamma</button>
      {{/if}}<p>
      Gain: <span id="gain_current" style="width: 5em"> </span><br />
      <input type="range" id="gainSlider" min="-1" max="1" step="0.05" />
      </p>
      <p>
      Gamma: <span id="gamma_current" style="width: 5em"> </span><br />
      <input type="range" id="gammaSlider" min="0.5" max="1.5" step="0.01" />
      </p>
    </div>
    <div class="controlbox">
      <div id="otherControls" style="margin-top: 2%;">
        <div id="imageTypeSelect">
          <select id="rendermode">
            <option value="image">Image</option>
            <option value="3d" selected>3D</option>
          </select>
        </div>
      </div>
      <p id="perspective-p"><input type="checkbox" id="perspective" value="1" checked="1" />&nbsp;Perspective</p>
    </div>
    <div id="controls-3d" class="controlbox">
      <div id="div-uvpos" style="float: left; margin: 0.5em auto; width: 52">
        <canvas id="canvas-uvpos" width="52" height="52"></canvas>
      </div>
      <table>
      <tr><td>
      <input type="button" value="U-" onClick="updateUV(-1.0, 0);">
      <input type="button" value="U+" onClick="updateUV(+1.0, 0);">
      </td><td>
      <span id="U_current" style="width: 5em"></span>
      </td></tr>
      <tr><td>
      <input type="button" value="V-" onClick="updateUV(0, -1.0);">
      <input type="button" value="V+" onClick="updateUV(0, +1.0);">
      </td><td>
      <span id="V_current" style="width: 5em"></span>
      </td></tr>
      <tr><td colspan="2">
      <input type="button" value="Reset UV" onClick="setUV(0, 0);">
      </td></tr>
      </table>
    </div>
    <div id="controls-lightfield-image" class="controlbox" class="span3">
      <p><button type="button" class="btn" id="grid">Grid</button>
         <button type="button" class="btn" id="griduv">Grid UV</button></p>
      <p>
      Zoom: <span id="zoom_current" style="width: 5em"> </span><br />
      <input type="range" id="zoomSlider" min="-1" max="1" step="0.05" />
      </p>
    </div>
    <p id="controls-lightsheet-image" class="controlbox">
      <input type="button" value="Z-" onClick="ls.updateZ(-ls.view3d.ofs_Z_step);">
      <input type="button" value="Z+" onClick="ls.updateZ(+ls.view3d.ofs_Z_step);">
      <span id="Z_current" style="width: 5em"></span>
    </p>
    <div id="info-lightsheet-image" class="controlbox">
      <table>
      <tr><td>i =</td><td><span id="Z_i" class="t_value"></span></td></tr>
      <tr><td>t =</td><td><span id="t" class="t_value"></span></td></tr>
      <tr><td>z<sub>req</sub> =</td><td><span id="Z_r" class="Z_value"></span></td></tr>
      <tr><td>z<sub>meas</sub> =</td><td><span id="Z_m" class="Z_value"></span></td></tr>
      </table>
    </div>
    <form class="form-inline"><p id="box-lightsheet-3d" class="controlbox">
      <label class="checkbox"><input type="checkbox" id="box" value="1" checked="1" /> Bounding box</label>
      <button type="button" class="btn" id="bbplot">Plot</button><br />
      [<input type="text" id="box-x0" value="0.0" size="4" />,
       <input type="text" id="box-y0" value="0.0" size="4" />,
       <input type="text" id="box-z0" value="0.0" size="4" />]<br />
      [<input type="text" id="box-x1" value="128.0" size="4" />,
       <input type="text" id="box-y1" value="128.0" size="4" />,
       <input type="text" id="box-z1" value="8.0" size="4" />]<br />
      <label class="sellabel"><abbr title="Channel; 0 (green): Ca marker, 1 (red): Cell staining">Ch.</abbr> <select id="bbplot-chan">
        <option value="0" selected>0</option>
        <option value="1">1</option></select></label>
      <label class="sellabel"><abbr title="Intensity level normalization">Norm.</abbr> <select id="bbplot-norm">
        <option value="">nope</option>
        <option value="wholenorm">by whole frame</option>
        <option value="chnorm" selected>by the other ch.</option>
       </select></label>
    </p></form>
    <div id="maxu-lightfield-image" class="controlbox">
      <p>
      Max. tangens: <span id="maxu_current" style="width: 5em"> </span><br />
      <input type="range" id="maxuSlider" min="0" max="1" step="0.01" /><br />
      Reset <button type="button" class="btn" id="maxuResetDefault">to default</button>
      <button type="button" class="btn" id="maxuResetOptics">by optics</button>
      </p>
    </div>
  </div>
</template>
<template name="webglCanvas">
  <canvas id="canvas-image" width="512" height="640"></canvas>
  <canvas id="canvas-3d" width="432" height="512"></canvas>
</template>
