<template name="mainView">
  <div class="hero-unit" style="height:300px;" overflow="auto">
    {{#if isViewing "viewingAbout"}}
    <p>
      See <a href="http://nemaload.github.io/nemashow/"> this page for more details.</a> 
    </p>
    {{/if}} {{#if isViewing "viewingHelp"}}
    <p>
      If you have found a bug and would like to report it, please contact <a href="mailto:schmatz@umich.edu">support.</a>
    </p>
    {{/if}}
    {{#if isViewing "fileListing"}} {{> fileView}} {{/if}} {{#if isViewing "searchResults"}}
    {{> searchResults}} {{/if}}
    {{#if isViewing "viewingFirstScreen"}}
    <h1>
      Welcome to NEMASHOW
    </h1>
    NEMASHOW allows both NEMALOAD researchers and the public to interactively view the
    project data.
    <p>
      <a href="http://nemaload.github.io/nemashow/" class="btn btn-primary btn-large">Learn more &raquo;</a>
    </p>
    {{/if}}
  </div>
</template>
